data/
__pycache__/
checkpoints/
.cache/
results/
*.env
.cursor/
wandb/
cache/
*_cache/
hf_home/
torch_home/
matplotlib_cache/
cookies.json
.DS_Store
*.venv/
*.env
*.log
*.out
*.err
*.log.gz
*.log.bz2
*.log.xz
*.log.lzma
*.log.zstd